@charset "UTF-8";

/* テキストの自動拡大を最適化 */

body{
  -webkit-text-size-adjust: 100%;
  font-family: 'Ubuntu','sans-serif','M PLUS Rounded 1c','sans-serif';
  text-size-adjust: 100%;
  width: 100%;
}

/* 基本設定 */

*{
  margin: 0px;
}

hr{
  margin: 2%;
}

div,h1,h2,h3,h4,p{
  text-align: center;
}

body{
  background-color: #fee;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

/* 主にヘッダー部分 */
img{
  height: auto;
  width: 100%;
}

header{
  grid-area: head;
}

h1{
  color: #35B5B5;
  font-family: 'Sriracha', cursive;
}

.header{
  background: rgba(0,0,0,0.5);
  display: flex;
  height: 100px;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 10;
}

ul{
  display: inline-flex;
  justify-content: space-around;
  margin-top: 15px;
}

li{
  font-size: 25px;
  margin: 20px 40px;
}

nav a{
  color: #fff;
}

.mv img{
  border-radius: 0px 0px 0px 100px;
  vertical-align: bottom;
  width: 100%;
}

.genre{
  -webkit-text-fill-color: white;
  background-color: #D9482E;
  border-bottom-left-radius: 200px;
  border-radius: 5px;
  display: grid;
  margin: 3%;
}


/* 主にメイン部分 */
h2{
  border-bottom:  solid 1px white;
  margin: 3%;
}

.genre h2{
  font-size: 300%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.genre p{
  font-size: 20px;
  margin-bottom: 25%;
}

main img{
  width: 60%;
  height: auto;
}

h3{
  border-bottom: solid 1px #D9482E;
  margin: 3%;
}

.title h3{
font-size: 800%;
color: #D9482E;
}


.description h4{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 30px;
  color: #D9482E;
}

.description p{
  margin-bottom: 3%;
  font-size: 20px;
  color: #D9482E;
  text-align: center;
}

/* 最後に、、、の部分 */
.comment{
  display: grid;
  margin: 0 3%;
  border-radius: 5px;
  background-color: #D9482E;
}

.comment h2{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 300%;
  color: white;
}

.comment p{
  color: white;
  margin-bottom: 1%;
  font-size: 20px;
  text-align: center;
}