@charset "UTF-8";

/* テキストの自動拡大を無効化*/
body {
  .webkit-text-size-adjust:none;
  text-size-adjust:none;
  font-family: 'Ubuntu', sans-serif,'M PLUS Rounded 1c', sans-serif;
  /* width: 100%; */
}

/*基本設定*/

* {
  margin: 0;
  padding: 0;
}

img {
  /* width:100%; */
  /* height:auto; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrap {
  overflow: hidden;
}

.wrap_grid {
  display: grid;
  grid-template-rows: auto 1fr 50vw;
  grid-template-areas:
          "head head head"
          "main main main"
          "foot foot foot";
  grid-template-columns: 3vw 1fr 3vw;
}

.header_grid {
  display: grid;
  grid-area: head;
  grid-template-columns: 3vw repeat(10,1fr) 3vw;
  grid-template-rows:
      [header] 5vw
      [mv1] 1fr
      [mv2] 1fr
      [mv3] 1fr
      [mv4] 1fr
      [mv5] 1fr
      [mv6] 1fr
      [mv7] .2fr
      [mv8] .3fr;
  row-gap: 25px;
}

.header_header_grid {
  background: rgba(0,0,0,0.5);
	display: grid;
	grid-template-columns: 3vw repeat(5,1fr) 3vw;
  grid-row: header;
  grid-column: 1 / -1;
  justify-content: space-around;
  z-index: 200;
}

.header_bg-color {
  background: #d9482e;
}

.header_header_menu {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header_h1 {
  color: #35b5b5;
  font-family: 'Sriracha', cursive;
}

.header_h1_img {
  width: 200px;
}

.header_nav_ul {
  display: inline-flex;
  justify-content: space-around;
  margin-top: 15px;
}

.header_nav_li {
  margin: 20px 40px;
  font-size: 25px;
}

.header_nav_a {
  color: #fff;
}

.header_mv {
  /* background: #d9482e; */
  grid-column: 1 / -1;
  grid-row: header / span 8;
  z-index: 50;
}

.header_mv_img {
  border-radius: 0px 0px 0px 300px;
  box-shadow: 0 0 30px -8px;
  /* vertical-align: bottom; */ /* TODO: いらないかも・・要検証 */
  width: 100%;
}

.header_mv_bg {
  border-radius: 0px 0px 0px 300px;
  box-shadow: 0 0 30px -8px;
  background: #7b463c;
  content:"";
  grid-column: 1 / -1;
  grid-row: header / span 9;
  z-index: 40;
}

.header_logo {
  background: rgba(255, 255, 0, .8);
  grid-column: 5 / span 4;
  grid-row: mv5 / span 2;
  z-index:200;
}

.header_logo_img {
  width:100%;
}

.header_twitter {
  /* background: rgba(0, 0, 0, .8); */
  grid-column: 2 / span 2;
  grid-row: mv1 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index:200;
}

.header_twitter_h2-div {
  display: table;
  height: 15%;
}

.header_twitter_h2 {
  background: rgba(0, 0, 0, .8);
  border-radius: 6px;
  display: table-cell;
  color: #fff4f2;
  text-align: center;
  /* height: 15%; */
  vertical-align: middle;
  width: 100%;
}

.header_twitter_cont {
  background: rgba(255, 255, 255, .8);
  border-radius: 6px;
  height: 80%;
  width: 100%;
}

/* .header_insta {
  background: rgba(0, 255, 0, .8);
  grid-column: 2 / span 2;
  grid-row: mv4 / span 2;
  z-index:200;
} */

.header_youtube {
  background: rgba(0, 255, 255, .8);
  grid-column: 9 / span 3;
  grid-row: mv4 / span 2;
  z-index:200;
}
.header_youtube_h2 {

}

.header_youtube_cont {
  display: block;
  margin: 0 0 0 auto;
}

.header_sns_link {
  background: rgba(255, 255, 255, .8);
  grid-column: 9 / span 3;
  grid-row: mv6;
  z-index:200;
}

.sns_list {
  display: flex;
  justify-content: space-between;
}

.sns_bg {
  background: #fff4f2;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.sns_a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.sns_logo {
  width: 50px;
}

.header_info-1 {
  background: rgba(255, 0, 255, .8);
  grid-column: 4 / span 2;
  grid-row: mv2 / span 2;
  z-index:200;
}

.main_grid {
  background: #fff4f2;
  display: grid;
  grid-area: main;
  grid-template-columns: 3vw repeat(5,1fr) 3vw;
  grid-template-rows:
      [news] auto
      [about] auto
      [activ] auto
      [bg-color-1] 10vw
      [bg-color-2] 3vw
      [genre] auto
      [joinus] auto
      [joinus_bg-color] 1vw
      [space]auto;
  row-gap: 50px;
  z-index: -1
}

.main_bg-color-1 {
  background: #d9482e;
  border-radius: 0px 0px 0px 100px;
  box-shadow: 0 0 30px -8px;
  grid-column: 1 / -1;
  grid-row: news / span 4;
  z-index: -2 ;
}

.main_bg-color-2 {
  background: #7b463c;
  border-radius: 0px 0px 0px 100px;
  box-shadow: 0 0 30px -8px;
  grid-column: 1 / -1;
  grid-row: news / span 5;
  z-index: -3 ;
}

.main_news {
  background: #d9482e;
  grid-column: 2 / -2;
  grid-row: news;
  height: 400px;
}

.main_h2_white {
  color:#fff;
  border-bottom: 1px solid #fff;
  font-size: 50px;
  margin: 30px 10px 0px;
  text-align: center;
}

.main_about {
  background: #fff4f2;
  border-radius: 6px 6px 6px 100px;
  box-shadow: 0 0 30px -8px;
  grid-column: 2 / -2;
  grid-row: about;
  /* height: 800px; */
}

.main_h2_orange {
  border-bottom: 1px solid #d9482e;
  color:#d9482e;
  font-size: 50px;
  margin: 30px 10px 0px;
  text-align: center;
}

.main_about_h3 {
  color:#d9482e;
  font-size: 30px;
  padding-left: 30px;
}

.main_about_about,
.main_about_bucho {
  margin: 50px 20px;
}

.main_about_cont {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.main_about_img {
  border-radius: 200px;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.main_about_p {
  margin: 30px 0px 30px;
  padding: 0 10px 0;
  white-space: pre-wrap;
  width: 600px;
}

.main_about_bucho {

}

.main_activ {
  background: #d9482e;
  grid-column: 2 / -2;
  grid-row: activ;
  height: 300px;
}

.main_genre {
  display: grid;
  grid-column: 2 / -2;
  grid-row: genre;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows:
  [h2] 1fr
  [p] 1fr
  [cont] 2fr;
  height: 500px;
  row-gap: 25px;
}

.main_genre_h2 {
  grid-column: 1 / -1;
  grid-row: h2;
}

.main_genre_p1 {
  grid-column: 1 / -1;
  grid-row: p;
}

.main_genre_p2 {
  /* background-color: rgba(255, 255, 255, .8);  */
  color: #000;
  font-size: 100%;
  font-weight: bold;
  mix-blend-mode:overlay;
  position: absolute;
  /* display: inline-block; */
}



/* .main_genre_img {
  background-blend-mode:overlay;
	border: 9px solid #fff;
  border-radius: 50%;
  height: 13vw;
	object-fit: cover;
  width: 13vw;
  vertical-align: middle;
} */

.main_genre_hiphop {
  grid-column: 1;
	background: url('img/hiphop.jpg') no-repeat center;
}

.main_genre_krump {
  grid-column: 2;
  background: url('img/krump.jpg') no-repeat center;
}

.main_genre_vocaloid {
  grid-column: 3;
  background: url('img/vocaloid.jpg') no-repeat center;
}

.main_genre_idol{
  grid-column: 4;
  background: url('img/idol.jpg') no-repeat center;
}

.main_genre_k-pop {
  grid-column: 5;
  background: url('img/k-pop.jpg') no-repeat center;
}

.main_genre_div {
  align-items: center;
  /* text-align: center;  */
   /* ↑imgの上下中央配置：flexで実現したため削除 */
   background-blend-mode:overlay;
   background-color: rgba(0, 0, 0, .2);
   background-size: cover;
   border: 0.5vw solid #fff;
   border-radius: 50%;
   display: flex;
   grid-row: cont;
   font-size: 3vw;
   height: 13vw;
   justify-content: center;
   margin: auto;
   position: relative;
   width: 13vw;
}

.main_genre_div:before {
	content: ' ';
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main_genre_vocaloid{
font-size: 2.2vw;
}

.main_joinus {
  background: #d9482e;
  border-radius: 6px 6px 6px 100px;
  box-shadow: 0 20px 30px -15px;
  grid-column: 2 / -2;
  grid-row: joinus;
  height: 500px;
}

.main_joinus_bg-color {
  background: #7b463c;
  border-radius: 6px 6px 6px 100px;
  box-shadow: 0 0 30px -8px;
  grid-column: 2 / -2;
  grid-row: joinus / span 2;
  z-index: -1 ;
}

.footer_footer {
  background: #000;
  color: #fff;
  display: grid;
  grid-area: foot;
  grid-template-columns: 3vw repeat(9,1fr) 3vw;
  grid-template-rows:
      [footer1] .5fr
      [footer2] 1fr
      [footer3] 1fr
      [footer4] 1fr;
  row-gap: 25px;
  text-align: center;
}

.footer_logo {
  background: rgba(255, 0, 255, .5);
  grid-column: 3 /span 3;
  grid-row: footer2;
}

.footer_logo_img {
  width: 100%;
}

.footer_sns_list {
  background: rgba(255, 0, 0, .5);
  grid-column: 3 /span 3;
  grid-row: footer3;
}

.footer_nav {
  align-items: center;
  display: flex;
  /* background: rgba(255, 225, 0, .5); */
  grid-column: 8 /span 2;
  grid-row: footer2 / span 2;
}

.footer_nav_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  text-align: left;
}

.footer_nav_li {
  color: #fff;
  font-size: 3vw;
}

.footer_footer_p {
  align-items: center;
  display: flex;
  font-size: 2vw;
  grid-column: 5 / span 3;
  grid-row: footer4;
  justify-content: center;
}
