@charset "UTF-8";

/* 全体設定 */
/* テキストの自動拡大を無効化*/
body {
  .webkit-text-size-adjust:none;
  text-size-adjust:none;
  font-family: 'Ubuntu', sans-serif,'M PLUS Rounded 1c', sans-serif;
  /* width: 100%; */
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover, a:active,a:visited {
	color: #eb7437;
}

li {
  list-style: none;
}

h3 {
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium";
	font-weight: normal;
	}

.display_off {
	display: none;
}
/* スマホ設定 */
/* ***********************************************************
* 
* *********************************************************** */

/* ローディング画面 */
/* 非表示 */
.is-hide {
	display: none;
}

/* LOADING */
#loader_bg {
background: #000;
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 400;
}

#loader {
height: 50%;
left: 25%;
margin: auto;
position: fixed;
top: 25%;
width: 50%;
display: inline-flex;
flex-direction: column;
justify-content: space-around;
}

#loader p {
	color: #eb7437;
	font-size: 5vw;
	line-height: 1.4;
	text-align: center;
}

.loader_logo {
	display: inline-block;
	margin: auto;
	width: 40vw;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #eb7437;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.slidein_out {
	height: 0;
	transition: all .9s 0.5s ease;
}

.slidein_out_delay01 {
	transition: all .9s 1s ease;
}

.slidein_out_delay02 {
	transition: all .9s 1.1s ease;
}

.slidein_bf_mvcont {
	height: 100%;
	opacity: 0;
	transition: all .5s 1.8s ease;
}

.slidein_out_news {
	height: 100%;
	opacity: 0;
	transition: all 1s 1.5s ease;
}

.slidein_in {
	height: 100%;
	opacity:1;
}

.fadein_bf {
	opacity: 0;
	transform: translateY(-50px);
	transition: opacity 1s,transform 0.5s;
}

.fadein_af {
  opacity:1;
  transform:translateX(0);
}


/* ページ設定_TOP */
.wrap_grid_top {
	background-color: #d9482e;
  display: grid;
  grid-template-rows: 60vw auto 58vw;
  grid-template-areas:
          "head head head"
          "main main main"
          "foot foot foot";
  grid-template-columns: 3vw 1fr 3vw;
  z-index: -100;
}

/* ページ設定_SUB */
.wrap_grid_sub {
  display: grid;
  grid-template-rows: 25vw auto 58vw;
  grid-template-areas:
          "head head head"
          "main main main"
          "foot foot foot";
  grid-template-columns: 3vw 1fr 3vw;
  z-index: -100;
  height: 100vh;
}

.wrap_grid_movie {
	height: auto;
}

/* header_HOMEの設定 */

.header_grid_top {
  display: grid;
  grid-area: head;
  grid-template-columns: 3vw repeat(10,1fr) 3vw;
  grid-template-rows:
      [header] 1fr
      [mv1] 1fr
      [mv2] 1fr
      [mv3] 1fr
      [mv4] 1fr
      [mv5] 1fr
      [mv6] .2fr
      [bottom01] .3fr;
  row-gap: 1vw;
}

.header_grid_sub {
  display: grid;
  grid-area: head;
  grid-template-columns: 3vw repeat(10,1fr) 3vw;
  grid-template-rows:
      [header] 1fr
      [mv1] 1fr
      [mv2] 1fr
      [mv3] .2fr
      [bottom01] .3fr;
  row-gap: 1vw;
}

.header_bg_top {
  background: #d9482e;
}

.header_bg_sub {
  background: #fff4f2;
}

.header_header_menu {
  background: rgba(0,0,0,0.8);
  /* grid-column: 1 / -1; */
  /* justify-content: space-around; */
	position: fixed;
	height: 20vw;
  width: 100%;
	z-index: 500;
	bottom: 0;
}

.header_nav {
	height: 100%;
}

.header_nav_ul {
	display: grid;
	grid-template-columns:
	[home] 1fr
	[movie] 1fr
	[genre] 1fr
	[contact] 1fr;
	height: 100%;
	text-align: center;
}

.header_nav_li {
display: inline-flex;
}

.header_icon {
  color: #eb7437;
	font-size: 8vw;
}

.header_a_active {
	filter: drop-shadow( 0 0 5px #eb7437);
	filter: brightness(150%);
}

.header_icon_active {
	filter: drop-shadow( 0 0 2px #eb7437);
}

.header_nav_home {
	grid-column: home;
}

.header_nav_movie {
	grid-column: movie;
}

.header_nav_genre {
	grid-column: genre;
}

.header_nav_contact {
	grid-column: contact;
}

.header_nav_a {
	margin: auto;
	height: 80%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

.header_h1 {
	display: none;
}

.header_mv {
  grid-column: 1 / -1;
  z-index: 50;
}

.mv_top {
  grid-row: header / span 7;
}

.mv_sub {
  grid-row: header / span 4;
}

.mv_img_top {
  border-radius: 0px 0px 0px 15vw;
  box-shadow: 0 0 30px -8px;
  /* vertical-align: bottom; */ /* TODO: いらないかも・・要検証 */
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* header HOME以外のページ設定 */
.mv_img_sub {
  background: url(img/mv.jpg) no-repeat;
  background-position: 50% 30% ;
  background-size: cover;
  backdrop-filter: blur(12px);
  border-radius: 0px 0px 0px 15vw;
  box-shadow: 0 0 30px -8px;
  height: 100%;
  object-position: 0% 30%;
  object-fit: cover;
  position: relative;
  vertical-align: bottom;
  width: 100%;
}

.mv_img_sub:after {
  content: ' ';
  backdrop-filter: blur(2px);
  border-radius: 0px 0px 0px 15vw;
  width: 100%;
  height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.header_mv_bg {
  border-radius: 0px 0px 0px 15vw;
  box-shadow: 0 0 30px -8px;
  background: #7b463c;
  content:"";
  grid-column: 1 / -1;
  grid-row: header / span 8;
  z-index: 40;
}

.mv_bg_sub {
  grid-row: header / span 5;
}

.header_logo {
  grid-column: 5 / span 4;
  margin: auto  0 0;
  z-index:200;
}

.header_logo_top {
  grid-row: mv4 / span 2;
}

.header_logo_sub {
  grid-row: mv1 / span 2;
}

.header_logo_a {
  height: 100%;
  width: 100%;
}

.header_logo_img {
  width:100%;
}

.header_twitter {
	display: none;
}

.header_youtube {
	display: none;
}

.header_sns_link {
  grid-column: 9 / span 3;
  height: 5vw;
  margin: auto  0 0;
  z-index:200;
}

.header_sns_top {
  grid-row: mv5;
}

.header_sns_sub {
  grid-row: mv2;
}

.sns_list {
  display: flex;
  justify-content: space-around;
}

.sns_bg {
  background: #fff4f2;
  border-radius: 50%;
  height: 4.5vw;
  width: 4.5vw;
}

.sns_a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.sns_logo {
  display: inline-block;
  width: 80%;
}

.header_info-1 {
  background: rgba(255, 0, 255, .8);
  grid-column: 4 / span 2;
  grid-row: mv2 / span 2;
  z-index:200;
}

/* HOMEページmainエリアの設定 */

.main_grid_top {
	background: #fff4f2;
	border-radius: 0 0 0 20vw;
  display: grid;
  grid-area: main;
  grid-template-columns: 3vw repeat(5,1fr) 3vw;
	grid-template-rows:
			[news] auto
			[twitter] auto
      [about] auto
      [activ] auto
      [bg-color-1] 4vw
      [bg-color-2] 3vw
      [genre] auto
      [joinus] auto
      [joinus_bg-color] 1vw;
			padding: 0 0 10vw;
	position: relative;
	row-gap: 4vw;
	width: 100%;
}

.main_grid_top:before {
	content: '';
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -100;
}

/* SUBページmainエリアの設定 */

.main_grid_sub {
  background: #fff4f2;
	border-radius: 0 0 0 20vw;
  display: grid;
  grid-area: main;
  grid-template-columns: 3vw repeat(5,1fr) 3vw;
  grid-template-rows:
      [space01] .2fr
      [cont01] auto
      [cont01_bg-color] .1vw
			[space02] .2fr;
	position: relative;
	row-gap: 5vw;
}

.main_grid_sub:before {
	content: '';
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -100;
}

.main_grid_genre {
  grid-template-rows:
  [space01] 1fr
  [cont01] auto
	[cont01_bg-color] .1vw
	[scroll] 7vw
  [hiphop] auto
  [krump] auto
  [vocaloid] auto
  [idol] auto
  [k-pop] auto
	[space02] 1fr;
	padding: 0 0 10vw;
}

.main_bg-color-1 {
  background: #d9482e;
  border-radius: 0px 0px 0px 20vw;
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, .4);
  grid-column: 1 / -1;
  grid-row: news / span 4;
  z-index: 3;
}

.main_bg-color-2 {
  background: #7b463c;
  border-radius: 0px 0px 0px 20vw;
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, .4);
  grid-column: 1 / -1;
  grid-row: news / span 5;
  z-index: 2;
}

.main_twitter {
	display: grid;
	grid-template-rows:
  [h2] auto
  [p] 0
  [cont] auto;
  row-gap: 1vw;
  grid-column: 2 / -2;
	grid-row: twitter;
	z-index: 5;
}

.main_news {
	display: grid;
	grid-template-rows:
  [h2] auto
  [p] 0
  [cont] auto;
  row-gap: 1vw;
  grid-column: 2 / -2;
  grid-row: news;
	z-index: 5;
}

.main_h2_white {
  color:#fff;
  border-bottom: 1px solid #fff;
  font-size: 8vw;
  grid-row: h2;
  margin: 2vw 3vw 0px;
	text-align: center;
	z-index: 5;
}

.main_h2_orange {
  border-bottom: 1px solid #d9482e;
  color:#d9482e;
  font-size: 8vw;
  margin: 2vw 3vw 0px;
  text-align: center;
}

.main_twitter_cont {
  background: rgba(255, 255, 255, 0.6);
  border: solid	1px	#fff4f2;;
  border-radius: 6px;
	grid-row: cont;
	grid-column: 1 / -1;
	height: 80vw;
	margin: 0 auto;
	width: 90%;
	z-index: 200;
}

.news_cont {
grid-row: cont;
grid-column: 1 / -1;
height: 30vw;
width: 100%;
}

.main_about {
  background: #fff4f2;
  border-radius: 6px 6px 6px 10vw;
	box-shadow: 0 0 30px -8px;
  grid-column: 2 / -2;
  grid-row: about;
	z-index: 5;
}


.main_about_h3 {
	background-color: #fff4f2;
  color:#d9482e;
	font-size: 5vw;
	left: 50%;
	padding: 0 2vw;
	position: absolute;
	top: 0;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.main_about_about,
.main_about_bucho {
	width: 80%;
	margin: 5vw auto 10vw;
	text-align: center;
	border: solid 1px #d9482e;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	padding: 0 2vw;
}

.main_about_cont2 {
  align-items: center;
  display: flex;
	flex-flow: column;
	justify-content: space-around;
	margin: 5vw auto 0;
}

.main_about_img {
  border-radius: 50%;
  height: 17vw;
  object-fit: cover;
  width: 17vw;
}

.main_about_p {
  font-size: 3.3vw;
  line-height: 1.8;
  margin: 5vw auto;
  white-space: pre-wrap;
}

.main_about_bucho {

}

.main_activ {
  grid-column: 2 / -2;
  grid-row: activ;
	height: 80vw;
	z-index: 5;
}

.main_genre {
  display: grid;
  grid-column: 2 / -2;
  grid-row: genre;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows:
  [h2] auto
  [p] auto
  [cont] auto;
  row-gap: 1vw;
}


.main_genre_h2 {
  grid-column: 1 / -1;
  grid-row: h2;
}

.main_genre_p1 {
  grid-column: 1 / -1;
  grid-row: p;
  width: 80%;
  font-size: 3.3vw;
  line-height: 1.8;
  margin: 0 auto;
}

.main_genre_p2 {
  color: #000;
  font-weight: bold;
  mix-blend-mode:overlay;
  position: absolute;
}

.genre_cont {
  grid-column: 1 / -1;
  grid-row: cont;
  display: flex;
  height: 35vw;
	margin:  0 auto 5vw;
}

.main_genre_hiphop {
  align-self: flex-start;
	background: url('img/hiphop.jpg') no-repeat center;
}

.main_genre_krump {
  align-self: flex-end;
  background: url('img/krump.jpg') no-repeat center;
}

.main_genre_vocaloid {
  align-self: flex-start;
  background: url('img/vocaloid.jpg') no-repeat center;
}

.main_genre_idol{
  align-self: flex-end;
  background: url('img/idol.jpg') no-repeat center;
}

.main_genre_k-pop {
  align-self: flex-start;
  background: url('img/k-pop.jpg') no-repeat center;
}

.main_genre_div {
  align-items: center;
  /* text-align: center;  */
   /* ↑imgの上下中央配置：flexで実現したため削除 */
   background-blend-mode:overlay;
   background-color: rgba(0, 0, 0, .2);
   background-size: cover;
   border: 0.5vw solid #fff;
   border-radius: 50%;
   display: flex;
   grid-row: cont;
   font-size: 4vw;
   height: 16vw;
   justify-content: center;
   position: relative;
   width: 16vw;
}

.main_genre_div:before {
	content: ' ';
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main_genre_vocaloid{
font-size: 3vw;
}

.main_orange_box {
  background: #d9482e;
  border-radius: 6px 6px 6px 10vw;
	box-shadow: 0 20px 30px -15px;
  grid-column: 2 / -2;
	z-index: 30;
}

.main_orange_box_cont {
	display: grid;
	row-gap: 1vw;
	grid-template-rows:
  [h2] .3fr
  [p] .3fr
	[cont] auto;
	grid-template-columns: 2vw repeat(5,1fr) 2vw;
}

.main_grid_top:after {
  background: #7b463c;
  border-radius: 6px 6px 6px 10vw;
	box-shadow: 0 0 30px -8px;
  grid-row: joinus / span 2;
	content: '';
	height: 100%;
	grid-column: 2 / -2;
	position: absolute;
	width: 100%;
  z-index: 10;
}

.main_orange_box_bg {
	background: #7b463c;
  border-radius: 6px 6px 6px 10vw;
	box-shadow: 0 0 30px -8px;
  grid-row: cont01 / span 2;
	grid-column: 2 / -2;
	position: absolute;
	width: 100%;
  z-index: 10;
}

/* subページorange_box設定 */

.sub_orange_box {
  grid-row: cont01;
}

.main_joinus {
  grid-row: joinus;
}

.main_joinus_bg {
  grid-row: joinus / span 2;
}

.main_box_genre {
	grid-row: cont01;
  /* height: 50vw; */
  grid-template-rows:
  [h2] .3fr
  [p] .3fr
  [cont] auto;
}

.main_box_contact {
	grid-row: cont01;
  /* height: 45vw; */
}

.main_box_bg {
  grid-row: cont01 / span 2;
}

/* MOVIEページ設定 */

.main_movie {
  grid-row: cont;
  grid-column: 2 / -2;
  height: 100%;
}

/* ドロップダウンメニュー */

.dropdownmenu {
	position: relative;
	width: 25vw;
}

.arrow_down {
	color: #fff4f2;
	position: absolute;
	top: 30%;
	right: 15%;
}

.main_movie_select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #d9482e;
	border: none;
	border-radius: 5px;
	color: #fff4f2;
	width: 100%;
	height: 10vw;
	padding: 1vw;
	position: relative;
}

.main_movie_option:hover {
	background-color: #eb7437;

}

.main_movie_option {
	color: #fff4f2;
}

.main_movie_main {
  /* display: flex;
  justify-content: space-around;
  width: 100%; */
}

/* MOVIEページのyoutube設定 */

.main_movie_ul {
	height: 100%;
	padding-bottom: 10vw;
}

.main_movie_target {
	display: none;
	height: 100%;
	transition: all 1s;
	padding-bottom: 10vw;
}

.display_on {
	display: block;
	opacity: 1;
	animation-duration: 1s;
	animation-name: fade-in;
}


@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

.main_movie_li {
	width: 100%;
	display: inline-flex;
	padding: 2vw 0;
	border-bottom: solid 1px #7b463c;
}

.main_movie_div {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.main_youtube_h3 {
	width: 45%;
	color: #fff4f2;
	font-size: 3.5vw;
}

.yt {
	position:relative;
	padding-bottom: 56.25%;
}

.yt_play {
	position: absolute;
	width: 100%;
	height: 100%;
}
.yt_play:hover {
  cursor:pointer;
}
.yt_play::before { /* YouTubeアイコン */
  position: absolute;
  background: url(./img/yt_icon_mono_light.png);
  content: "";
  background-size: 100%;
  width: 70px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  opacity: .90;
	transition:.5s;
}
.yt_play:hover::before { /* YouTubeアイコン */
  cursor: pointer;
	background-image:url(./img/yt_icon_rgb.png);
	pointer-events: none;
}

.main_youtube_img {
	height: 100%;
	width: 100%;
}

.main_movie_dummy {
	border-bottom: none;
	display: none;
}

.yt_iframe {
	position: absolute;
}

  /* GENREページ設定 */

.main_genre_explain {
  display: grid;
  grid-column: 2 / -2;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows:
  [h2] auto
  [youtube] auto
  [p] auto;
  row-gap: 3vw;
}

.scroll_it {
	display: inline-flex;
	color: #d9482e;
	grid-column: 2 / -2;
	grid-row: scroll;
	justify-content: space-between;
	margin: auto;
	width: 20%;
	height: 100%;
	font-size: 4vw;
	font-weight: bold;
}

.scroll_it_arrow {
	color: #d9482e;
}

.genre_explain_hiphop {
  grid-row: hiphop;
}

.genre_explain_krump {
  grid-row: krump;
}

.genre_explain_vocaloid {
  grid-row: vocaloid;
}

.genre_explain_idol {
  grid-row: idol;
}

.genre_explain_k-pop {
  grid-row: k-pop;
}
  
.sub_orange_box_h2 {
  grid-column: 1 / -1;
	grid-row: h2;
}

.main_genre_youtube {
  grid-column: 1 / -1;
  grid-row: youtube;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.main_genre_youtube:before {
  content: '';
  display: block;
  /* width: 100%; */
  padding-bottom: 56.25%;
}

.explain_youtube_iframe {
  position: absolute;
  height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
  
.sub_orange_box_p1 {
  color: #fff4f2;
  font-size: 3.3vw;
  line-height: 1.8;
  grid-column: 1 / -1;
  grid-row: p;
  margin: 0 auto;
  width: 80%;
}

.main_genre_explain_p1 {
  color: #d9482e;
	font-size: 3.7vw;
  line-height: 2.4;
  margin:  0 auto;
  grid-column: 1 / -1;
  grid-row: p;
  width: 80%;
}

.genre_p_under {
	background: linear-gradient(transparent 50%, #a8eaff 30%);
}

/* CONTACTページ設定 */

.main_contact_form {
	margin: 0 auto;
}

.main_contact_cont {
	grid-row: cont;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows:
	[name] 1fr
	[mail] 1fr
	[content] 1fr
	[button] 1fr;
	margin: 3vw 0;
  row-gap: 2vw;
  text-align: left;
}

.contact_label {
  color: #fff4f2;
  font-size: 3vw;
  grid-column: 1 / span 2;
  padding: 0 0 0 3vw;
}

.contact_input {
	font-size: 3vw;
	grid-column: 3 /span 2;
	border-radius: 4px;
  border: solid	1px	#707070;
  padding: .5vw;
}

.contact_name {
	grid-row: name;
	height: 4vw;
}

.contact_mail {
	grid-row: mail;
	height: 4vw;
}

.contact_content {
	grid-row: content;
	height: 6vw;
}

.contact_button {
	background-color: #F16C55;
	border-radius: 4px;
	border: solid	1px	#707070;
	font-size: 1.2vw;
	grid-row: button;
	grid-column: 4 / -4;
	height: 5vw;
	position: relative;
}

.contact_button:before {
	background: #4186B4;
	border-radius: 4px;
	box-shadow: 0 0 30px -8px;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 1.5vw;
	width: 100%;
	z-index: -1;
}

/* footerの設定_共通設定 */

.footer_footer {
  background: #000;
  color: #fff;
  display: grid;
  grid-area: foot;
  grid-template-columns: 3vw repeat(5,1fr) 3vw;
  grid-template-rows:
      [footer1] 2vw
      [footer2] 15vw
      [footer3] 15vw
			[footer4] 2vw
			[menu] 20vw;
  row-gap: 1vw;
	text-align: center;
}

.footer_logo {
  grid-column: 2 / -2;
	grid-row: footer2;
	width: 35vw;
	margin: auto;
}

.footer_logo_a {
  height: 100%;
  width: 100%;
}

.footer_logo_img {
  width: 100%;
}

.footer_sns_list {
  grid-column: 2 / -2;
	grid-row: footer3;
	width: 80%;
	margin: auto;
}

.footer_sns_icon {
  font-size: 10vw;
  color: #eb7437;
  filter: drop-shadow( 0 0 5px #eb7437);
}

.footer_nav {
  display: none;
}


.footer_footer_p {
  align-items: center;
  display: flex;
  font-size: 3vw;
  grid-column: 3 / -3;
  grid-row: footer4;
  justify-content: center;
}
/* PC設定 */
/* ***********************************************************
* 
* *********************************************************** */


@media screen and (min-width:768px){

	/* PC設定　grid設定 */
.wrap_grid_top {
	grid-template-rows: 47vw auto 30vw;
}

.wrap_grid_sub {
  grid-template-rows: 25vw auto 30vw;
  height: auto;
}

.main_grid_top {
	grid-template-columns: 10vw repeat(5,1fr) 10vw;
	grid-template-rows:
			[twitter-news] auto
      [about] auto
      [activ] auto
      [bg-color-1] 10vw
      [bg-color-2] 3vw
      [genre] auto
      [joinus] auto
      [joinus_bg-color] 1vw
			[space]auto;
}


.main_grid_sub {
	grid-template-columns: 10vw repeat(10,1fr) 10vw;
}

/* PC設定　header設定 */
.header_header_grid {
	display: grid;
	grid-template-columns: 3vw repeat(5,1fr) 3vw;
  grid-row: header;
  grid-column: 1 / -1;
  justify-content: space-around;
  z-index: 200;
}

.header_header_menu {
  background: rgba(0,0,0,0.5);
	display: grid;
	grid-template-columns: 3vw repeat(5,1fr) 3vw;
  grid-row: header;
  grid-column: 1 / -1;
  justify-content: space-around;
  position: absolute;
  width: 100%;
	z-index: 200;
	height: 7vw;
	top: 0;
}

.header_h1 {
	display: block;
  grid-column: 2;
  grid-row: 1;
}

.header_h1_img {
  width: 100%;
}

.header_nav {
	grid-column: 4 / nav 3;
  grid-row: 1;
}

.header_nav_ul {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.header_nav_li {
  font-size: 2vw;
  margin: 1vw 2vw;
}

.header_nav_a {
  color: #fff;
}

.header_icon {
	display: none;
}

/* PC設定　header_youtube設定 */
.header_youtube {
	display: block;
  grid-column: 9 / span 3;
  grid-row: mv3 / span 2;
  z-index:200;
}

.header_youtube_cont {
  display: block;
  margin: 0 0 0 auto;
  height: 15.8vw;
  width: 28.1vw;
}

/* PC設定 main */
.main_h2_white {
	font-size: 4vw;
	height: 5vw;
}

.main_h2_orange {
  font-size: 4vw;
}

.main_bg-color-1 {
  grid-row: twitter-news / span 4;
}

.main_bg-color-2 {
  grid-row: twitter-news / span 5;
}

.main_twitter {
  grid-column: 2 / span 2;
	grid-row: twitter-news;
}

.main_twitter_cont {
	height: 30vw;
}

.main_news {
  grid-column: 4 / -2;
  grid-row: twitter-news;
	z-index: 5;
}

.main_about_cont1 {
	display: flex;
}

.main_about_about,
.main_about_bucho {
	margin: 5vw auto 10vw;
	width: 40%;
}

.main_about_h3 {
  font-size: 3vw;
}

.main_about_p {
  font-size: 1vw;
  line-height: 1.8;
  margin: 5vw 2vw;
  white-space: pre-wrap;
}

.main_genre {
  grid-template-rows:
  [h2] auto
  [p] auto
  [cont] auto;
  row-gap: 1vw;
}

.genre_cont {
  grid-column: 1 / -1;
  grid-row: cont;
  display: flex;
  height: 10vw;
	margin:  5vw auto;
	width: 95%;
}

.genre_sub {
	margin: 3vw auto 10vw;
}

.main_genre_p1 {
  grid-column: 1 / -1;
  grid-row: p;
  width: 80%;
  font-size: 1vw;
  margin: 0 auto;
}

.main_genre_div {
  align-items: center;
   background-blend-mode:overlay;
   background-color: rgba(0, 0, 0, .2);
   background-size: cover;
   border: 0.5vw solid #fff;
   border-radius: 50%;
   display: flex;
   grid-row: cont;
   font-size: 3vw;
   height: 12vw;
   justify-content: center;
   margin: auto;
   position: relative;
   width: 12vw;
}


.main_genre_div:before {
	content: ' ';
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main_activ {
	height: 30vw;
}

.sub_orange_box_p1 {
	grid-column: 2 / -2;
	font-size: 1vw;
  line-height: 1.8;
}

/* PC設定　subページ　movie */

.main_movie_ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: auto;
	padding-bottom: 0;
	width: 100%;
}

.main_movie_li {
	width: 33%;
	flex-direction: column;
	padding: 0;
	margin-bottom: 2vw;
	border-bottom: none;
}

.main_youtube_h3 {
	width: 100%;
	font-size: 1.5vw;
}

.main_movie_div {
  width: 100%;
}

.main_movie_dummy {
	display: block;
}

.main_genre_explain_p1 {
	font-size: 1vw;
  line-height: 1.8;
}

.main_genre_youtube {
  grid-column: 2 / -2;
}

.main_genre_vocaloid{
	font-size: 2.2vw;
}

.contact_label {
	font-size: 1.2vw;
	grid-column: 2;
}

.contact_input {
	font-size: 1vw;
  padding: .5vw;
}

.contact_name {
	height: 2vw;
}

.contact_mail {
	height: 2vw;
}

.contact_content {
	height: 5vw;
}

.contact_button:before {
	top: 1vw;
}

.footer_footer {
	grid-template-columns: 3vw repeat(9,1fr) 3vw;
  grid-template-rows:
      [footer1] .5fr
      [footer2] 1fr
      [footer3] 1fr
			[footer4] 1fr;
}

.footer_logo {
  grid-column: 3 / span 3;
	grid-row: footer2;
	width: 20vw;
	/* margin: auto; */
}

.footer_sns_list {
  grid-column: 3 / span 3;
	grid-row: footer3;
	width: 80%;
	/* margin: auto; */
}

.footer_sns_icon {
  font-size: 5vw;
}

.footer_nav {
  align-items: center;
  display: flex;
  grid-column: 8 /span 2;
  grid-row: footer2 / span 2;
}

.footer_nav_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  text-align: left;
}

.footer_nav_li {
  color: #fff;
  font-size: 2vw;
}

.footer_footer_p {
  font-size: 1vw;
}

}